{{template "base" .}}

{{define "content"}}
<!--Main Body (Any other necessary text)-->
{{$res := index .Data "reservation"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">Reservation Summary</h1>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>Arrival</td>
                        <td>Departure</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{$res.FirstName}} {{$res.LastName}}</td>
                        <td>{{$res.Email}}</td>
                        <td>{{$res.Phone}}</td>
                        <td>arrival date soon...</td>
                        <td>departure date soon...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}